
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 text-center">Better Than Yesterday</h1>
    <p class="lead text-center">Keep moving forward</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <% @posts.each do |post| %>
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">
            <%= link_to post.title, post_path(post) %>
          </h2>
          <h3 class="post-content">
            <%= link_to post.content, post_path(post) %>
          </h3>
        </a>
        <p class="post-meta"><%= post.created_at %></p>
      </div>
      <hr>
      <% end %>
    </div>
  </div>
</div>







